name: Deploy Site

on:
  push:
    branches:
      - main  # O erro estava aqui. Agora está corrigido com os espaços certos.

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Pages
        uses: actions/configure-pages@v5

      - name: Upload dos arquivos
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.'

      - name: Deploy para GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
